@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #ddd;
}

.container {
  width: 90%; 
  margin: auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  background-color: #000;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: white;
}

.hero-page {
  text-align: center;
  padding: 30px 0;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.hero-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.fondo img {
  width: 100%;
  height: auto; 
  max-height: 500px; 
  background-size: cover;
}

.hero-page h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.hero-page h2 {
  font-size: 1.2rem; 
  color: #ccc;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}

.buttons button {
  padding: 12px 25px; 
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem; 
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.font-bold {
  font-size: 1.2rem; 
  color: white;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}

.login {
  background-color: #444;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.join {
  font-size: 2rem; 
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  padding: 20px; 
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.867);
}

.join p {
  margin: 0;
  font-size: 1rem; 
  text-align: left;
  flex-wrap: wrap;
  width: 100%; 
}

.register {
  background-color: #444;
  color: white;
  border: none;
  padding: 12px 20px; 
  cursor: pointer;
  font-size: 1rem; 
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px; 
  float: none; 
  width: 100%; 
}

/* Media Queries para Responsive Design */

/* Tablets */
@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .hero-page h1 {
    font-size: 3rem;
  }

  .hero-page h2 {
    font-size: 1.5rem;
  }

  .buttons button {
    padding: 14px 30px;
    font-size: 1.2rem;
  }

  .font-bold {
    font-size: 1.4rem;
  }

  .join {
    font-size: 3rem;
    padding: 30px;
  }

  .join p {
    font-size: 1.2rem;
    width: 80%;
  }

  .register {
    padding: 15px 25px;
    font-size: 1.2rem;
    margin-top: -60px;
    float: right;
    width: auto;
  }
}

/* Escritorios */
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }

  .fondo img {
    height: 500px;
  }
}